body {
  background-color: #f1f1f1;
  font-family: "Poppins", serif !important;
  font-weight: 300;
  font-style: normal;
  color: #2b2a28;
  margin: 0;
  padding: 0;
}

.poppins-700 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120px;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: #4a5e2a;
}

.center-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px; /* Added padding for mobile spacing */
  text-align: center;
}

/* Navigation Menu */
.poppins-700-menu {
  font-family: "Poppins", serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 50px !important;
  color: rgb(39, 39, 39) !important;
  text-decoration: none;
  border: dotted #fff6e4;
}

.poppins-700-menu:hover {
  color: #64724d !important;
  font-weight: 600 !important;
  background-color: #fff6e4;
  border: dashed !important;
}

.activeLink {
  color: #64724d !important;
}

.btnSize {
  height: 10% !important;
  width: 10%;
}

/* Offcanvas Menu */
.titleMenu {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: rgb(41, 59, 26);
}

.offcanvas {
  width: 50% !important;
  background-color: #fff6e4 !important;
}

/* button start to open m */
.btnGetStarted {
  outline: none;
  color: #000000;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  border: 2px dashed #000000;
  border-radius: 15px;
  background-color: #eaddca;
  box-shadow: 0 0 0 4px #eaddca, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out, 0.4s color;
}

.btnGetStarted:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px #eaddca, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

/* Responsive Adjustments */
@media screen and (max-width: 992px) {
  .poppins-700 {
    font-size: 80px;
  }

  .titleMenu {
    font-size: 60px;
  }

  .poppins-700-menu {
    font-size: 35px !important;
  }

  .btnSize {
    height: 8%;
    width: 8%;
  }

  .offcanvas {
    width: 70% !important;
  }
}

@media screen and (max-width: 600px) {
  .poppins-700 {
    font-size: 50px;
  }

  .titleMenu {
    font-size: 30px;
  }

  .poppins-700-menu {
    font-size: 25px !important;
  }

  .btnSize {
    height: 6%;
    width: 6%;
  }

  .offcanvas {
    width: 80% !important;
  }
}

/* ////////////////// */
/* ///about me css ///*/
/* ////////////////// */
.abt_body {
  background-color: #2f3930 !important;
}
.txtPar {
  font-size: 19px !important;
  color: #252525;
  text-align: justify;
}

.fntsze110 {
  font-size: 110px;
  font-weight: 700;
  color: #2b2a28;
}

.fntsze115 {
  font-size: 120px;
  font-weight: 700;
  color: #000000;
}

.fntsze120 {
  font-size: 120px;
  font-weight: 700;
}

/* ////////////////////////// */
/* ///Skills and Expertise ///*/
/* ////////////////////////// */

.skillsBG {
  width: 100%;
  height: 100%;
  background-color: #fffef9;
  background-image: radial-gradient(
    rgba(199, 161, 161, 0.171) 2px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;
  background-attachment: fixed; /* Keeps background fixed while scrolling */
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fffef9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);

  /* fonts */
  font-weight: 500 !important;
  /* transform: rotate(180deg); */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidebar ul li {
  margin: 8px 0;
}

.sidebar ul li a {
  text-decoration: none;
  /* font-weight: 300 !important; */
  font-size: 13px !important;
  color: #333;
  display: block;
  transition: all 0.3s ease;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.sidebar ul li a:hover {
  color: #e2ba62;
  text-decoration: line-through;
}

/* Rotate 90 degrees */
.rotated {
  transform: rotate(90deg);
  position: fixed;
  bottom: 20px;
  left: 10px;
  font-size: 12px;
}

/* RESPONSIVE DESIGN FOR MOBILE */
@media (max-width: 600px) {
  .removeSmall{
    display: none;
  }
  .sidebar {
    right: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px 0px 0px 20px;
    border-radius: 0px;
    background-color: #98a08c;
    margin-bottom: -22px;
  }
  .mTxtSize {
    font-size: 45px !important;
    /* padding-top: 30px; */
  }
  .sidebar ul {
    display: flex;
    gap: auto;
  }

  .sidebar ul li {
    margin: 0;
  }

  .sidebar ul li a {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    font-size: 9.5px !important;
    padding: 5px 8px;
    font-weight: 500;
    color: #ffffff;
  }

  .fntsze115 {
    font-size: 60px;
  }
  .rotated {
    display: none;
    /* Hide rotated text on mobile */
  }

  .crossoutTxt {
    text-decoration: line-through !important;
    color: #e2ba62 !important;
  }

  .divDashed {
    /* border-style: dashed; */
    padding: 0px !important;
    margin-bottom: 50px;
    border: none !important;
  }

}

.ulStyl {
  font-weight: 600 !important;
}

.crossoutTxt {
  text-decoration: line-through !important;
  color: rgb(145, 95, 3) !important;
}

.timeline {
  position: relative;
  padding-left: 15px;
  /* border-left: .5px solid #929292; */
}
.timeline-item {
  position: relative;
  padding: 10px 0 10px 20px;
}
.timeline-item::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 15px;
  width: 12px;
  height: 12px;
  background: #c4a077;
  border-radius: 50%;
}
.divDashed {
  /* border-style: dashed; */
  padding: 40px;
  margin-bottom: 50px;
  border: 20px dashed rgb(233, 233, 233);
}
.title {
  font-weight: bold;
  font-size: 19px;
}
.txtDate {
  color: rgb(82, 82, 82);
  font-size: 18px;
}

/* From Uiverse.io by joe-watson-sbf */
.flip-card {
  background-color: transparent;
  width: auto;
  height: auto;
  perspective: 1000px;
}

.flip-card-inner {
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #000000;
}

.flip-card-back {
  background-color: #000000;
  transform: rotateY(180deg);
}
