body {
    background-color: #f1f1f1;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    color: #2b2a28;
    margin: 0;
    padding: 0;
  }
  
  .poppins-700 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 120px;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #4a5e2a;
  }
  
  .center-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px; /* Added padding for mobile spacing */
    text-align: center;
  }
  
  /* Navigation Menu */
  .poppins-700-menu {
    font-family: "Poppins", serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 50px !important;
    color: rgb(39, 39, 39) !important;
    text-decoration: none;
    border: dotted #fff6e4;
  }
  
  .poppins-700-menu:hover {
    color: #64724d !important;
    font-weight: 600 !important;
    background-color: #fff6e4;
    border: dashed !important;
  }
  
  .activeLink {
    color: #64724d !important;
  }
  
  .btnSize {
    height: 10% !important;
    width: 10%;
  }
  
  /* Offcanvas Menu */
  .titleMenu {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: rgb(41, 59, 26);
  }
  
  .offcanvas {
    width: 50% !important;
    background-color: #fff6e4 !important;
  }
  
  /* Responsive Adjustments */
  @media screen and (max-width: 992px) {
    .poppins-700 {
      font-size: 80px;
    }
  
    .titleMenu {
      font-size: 60px;
    }
  
    .poppins-700-menu {
      font-size: 35px !important;
    }
  
    .btnSize {
      height: 8%;
      width: 8%;
    }
  
    .offcanvas {
      width: 70% !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    .poppins-700 {
      font-size: 50px;
    }
  
    .titleMenu {
      font-size: 30px;
    }
  
    .poppins-700-menu {
      font-size: 25px !important;
    }
  
    .btnSize {
      height: 6%;
      width: 6%;
    }
  
    .offcanvas {
      width: 80% !important;
    }
  }
  